<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <add name="DBconnectionString" connectionString ="Server=LAPTOP-H725LP7K\SQLEXPRESS_T4DV6;Database=T4DDBmonitoring; User Id=sa;Password=Tr1mbl3;Integrated Security=True; Trusted_Connection=True;" providerName="System.Data.SqlClient" />

    <add name="DBconnectionString_AzureServers" connectionString = "Server=.\SQLEXPRESS;Initial Catalog=T4DDBMonitoring;Integrated Security=True"  providerName="System.Data.SqlClient"  />
    <add name="DBconnectionString_1" connectionString="Data Source=LAPTOP-H725LP7K\SQLEXPRESS_T4DV6;Initial Catalog=T4DDBmonitoring;User Id=sa;Password=Tr1mbl3!;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DBconnectionString_old" connectionString="Data Source=LAPTOP-H725LP7K\SQLEXPRESS_T4DV6;Initial Catalog=TPPDBmonitoring;User Id=sa;Password=Tr1mbl3;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DBconnectionString_VM" connectionString="Data Source=T4DIRE\SQLEXPRESS;Initial Catalog=TPPDBmonitoring;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  
  
  <appSettings>

    <!-- Freeze Screen -->
    <add key="freezeScreen" value="Yes" /><!-- Yes / No -->

    <add key="NoOfSettopFolders" value="1" />
    <add key="SettopFolder01" value="D:\_Socotec\M14419144\" />
    <add key="SettopFolder02" value="blank" />
    <add key="SettopFolder03" value="blank" />
    <add key="SettopFolder04" value="blank" />
    <add key="SettopFolder05" value="blank" />
    <add key="DegRadGon" value="Deg" />
    <add key="DestinationPath" value="D:\_Socotec\FTPpush\" />
    <add key="SourceFileExtension" value="gka" />
    <add key="OutputFileExtension" value="dat" />
    <add key="CSVseparator" value="," />
    
    <!-- Email settings -->
    <add key="EmailLogin" value="gna.geomatics@gmail.com"/>
    <add key="EmailPassword" value="Julian1!"/>
    <add key="EmailFrom" value="gna.geomatics@gmail.com"/>
    <add key="NoDataAlarmRecipients" value="gna.geomatics@gmail.com"/>
    <add key="NoDataInterval_hrs" value="1"/>
    <add key="testEmail" value="No"/>
    <add key="SystemOperationalEmail" value="08:00"/>

    
  <!--The license context used-->
  <add key="MailLicenseCode" value="ES-E1582190613-00131-72B1E1BD67B73FVA-C5TC1DDC612457A3"/>
  <add key="EPPlus:ExcelPackage.LicenseContext" value="Commercial" />

  </appSettings>
  
</configuration>